@using MauiHybridAuth.Shared.Theme
@using MauiHybridAuth.Web.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudThemeProvider @bind-IsDarkMode="@CustomAppTheme.InDarkMode" />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => NavDrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
        <MudSpacer />
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <AuthorizeView>
                <Authorized>
                    <MudBadge Color="Color.Success" Overlap="true" Bordered="true" Icon="@Icons.Material.Filled.Check">
                        <MudAvatar >
                            @if(user != null)
                            {
                                @if(user.ProfilePicture.Length > 0)
                                {
                                    <MudImage Src="@("data:image /*;base64," + Convert.ToBase64String(user.ProfilePicture))"/>
                                }
                                else
                                {
                                    <MudText>@user.Initials</MudText>
                                }
                            }
                            else
                            {
                                <MudImage Src="_content/MauiHybridAuth.Shared/img/profile.png"/>
                            }
                        </MudAvatar>
                    </MudBadge>
                </Authorized>
                <NotAuthorized>
                    <MudBadge Color="Color.Error" Overlap="true" Bordered="true">
                        <MudAvatar>
                            <MudImage Src="_content/MauiHybridAuth.Shared/img/profile.png" />
                        </MudAvatar>
                    </MudBadge>
                </NotAuthorized>
            </AuthorizeView>
            <MudIconButton OnClick="@((e) => ProfileDrawerToggle())" Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        </MudStack>
    </MudAppBar>
    <MudDrawer @bind-Open="_navDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudDrawer Class="pa-5" @bind-Open="_profileDrawerOpen" Variant="@DrawerVariant.Temporary" ClipMode="DrawerClipMode.Always" Anchor="Anchor.Right" Elevation="2" >
        <ProfileMenu />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
    [CascadingParameter]
    private CustomAppTheme? CustomAppTheme { get; set; }

    private bool _navDrawerOpen = true;
    private bool _profileDrawerOpen = false;
    private ApplicationUser? user;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await UpdateUser();
    }

    private async Task UpdateUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User == null)
        {
            user = null;
            return;
        }
        var userClaim = authState.User;
        user = await UserManager.GetUserAsync(userClaim);
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await UpdateUser();
        StateHasChanged();
    }

    private void NavDrawerToggle()
    {
        _navDrawerOpen = !_navDrawerOpen;
    }

    private void ProfileDrawerToggle()
    {
        _profileDrawerOpen = !_profileDrawerOpen;
    }
}